@font-face {
  font-family: 'geomanist';
  src: url(../fonts/geomanist-regular-webfont.ttf);
}

body {
  color: rgb(90, 90, 90);
  background: #ffffff;
  font-family: geomanist, "Helvetica Neue";
  margin: 0px;
}

.logo-container {
  text-align: center;
}

.logo-container h1 {
  margin: 10px auto;
  font-size: 80px;
}

.logo-container img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.github-buttons-wrapper {
  padding: 20px;
  text-align: center;
}

.contributer-list {
  display: flex;
  justify-content: center;
  padding: 0 200px;
}

.contributer-item img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  border: 2px solid white;
  margin: 4px;
}

.section h2 {
  text-align: center;
}

.not-found-container {
  text-align: center;
}

.not-found-container .not-found-status {
  font-size: 100px;
}

.not-found-container .not-found-message {
  font-size: 60px;
}

.navbar-wrapper {
  width: 100%;
  background: rgb(44, 161, 64);
  padding: 10px 0px;
}

.left-content {
  float: left;
}

.right-content {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dashboard-text {
  color: white;
  display: block;
  width: 300px;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
}

.image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.image-wrapper img {
  width: 100%;
}

.sidemenu-wrapper {
  width: 15%;
  height: 100vh;
  background-color: rgb(73, 66, 80); 
}

.sidemenu-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidemenu-wrapper h3 {
  text-align: center;
  color: rgb(44, 161, 64);
}

.sidemenu-wrapper ul li a{
  text-decoration: none;
  text-align: center;
  background-color: rgb(73, 66, 80);
  display: block;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

.sidemenu-wrapper ul li a:hover {
  color: rgb(71, 202, 93);
}

a.active {
  color: rgb(71, 202, 93);
}

.main-container-wrapper {
  width: 85%;
}

.add-entry-form {
  width: 60%;
}

.add-entry-form Button {
  border: none;
  background-color: rgb(58, 156, 74); 
  color: white;
}

.navbar {
  /* border-color: white !important; */
  border-radius: 0px !important;
}

.container {
  width: 85% !important;
}
